[submodule "datasets"]
	path = datasets
	url = https://github.com/9sumit9/datasets.git
[submodule "adult"]
	path = adult
	url = https://github.com/9sumit9/datasets.git
[submodule "dataset"]
	path = dataset
	url = https://github.com/9sumit9/dataset.git
